Flask
flask-cors
python-dotenv
google-genai
pypdf
python-docx
python-pptx
pandas
openpyxl
psycopg2-binary
sentence-transformers
faiss-cpu
numpy<2
langchain
langchain-community
langchain-huggingface
tenacity
SQLAlchemy
